body {
    font-family: 'Microsoft Yahei';
}

.cf { zoom:1 }
.cf:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

::-webkit-input-placeholder {
    color: #999;
}
.glyphicon-ok {
    padding-right:5px;
    color:green;
}

.alert-condensed {
    margin-bottom: 10px;
    padding: 5px 10px;
}

.alert-inline {
    margin-bottom: 0;
}

/**
 * nav-pills
 */
.nav-pills li a {
    margin-right: 20px;
    padding: 10px 5px 5px; 
    line-height:22px;
    color: #686868;
    background-color: #fff;
}
.nav-pills li.active a {
    border-bottom: 3px solid #45b865;
    border-radius: 0;
    background-color: #fff;
    color: #5c5c5c;
}
.nav-pills li.active a:hover {
    background-color: #fff;
    color: #5c5c5c;
}
.nav-pills li a:hover {
    background-color: #fff;
}

/**
 * sprites
 */
.sprites {
    background: url(i/sprites.png) no-repeat;
}
.sp-account {
    background-position: 0 -67px;
    height: 16px;
    width: 17px;
}
.sp-add {
    background-position: -83px -17px;
    height: 14px;
    width: 14px;
}
.sp-delete {
    background-position: 0 -28px;
    height: 17px;
    width: 17px;
}
.sp-edit {
    background-position: 0 -46px;
    height: 17px;
    width: 17px;
}
.sp-trash {
    background-position: -75px -32px;
    height: 23px;
    width: 24px;
}
.sp-warning {
    background-position: -83px 0;
    height: 16px;
    width: 16px;
}

/**
 * default btn for zhumo
 */
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    color: #fff;
    background-color: #45B865;
    border-color: #45B865;
    border-radius: 2px;
    box-shadow: none;
    outline: 0;
}

.btn-primary:hover {
    background-color: #3DA159;
    border-color: #45B865;
    border-radius: 2px;
}

.btn-default,
.btn-default:active,
.btn-default:focus {
    color: #fff;
    background-color: #fff;
    border-color: #45B865;
    color: #45B865;
    border-radius: 2px;
    box-shadow: none;
    outline: 0;
}

.btn-default:hover {
    background-color: #f8f8f8;
}
.label-primary {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 0;
    color: #999;
    font-weight: normal;
    font-size: 12px;
}
.label-active {
    background-color: #45B865;
    color: #fff;
}
.table-report  {
    border: 1px solid #ddd;
}
.table-report .active {
    background-color: #fff; 
}
.table-report td {
    border-color: #fff!important; 
    background-color: #fff!important;
    font-size: 12px;
}
.table-report .active td {
    border-color: #ddd!important;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 14px;
}
.table-report th {
    background-color: #f5f5f5!important;
    text-align: center;
    font-size:14px;
}
/**
 * form-control
 */
.form-control {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-radius: 2px;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.has-error .form-control,
.has-error .form-control:focus {
    box-shadow: none;
}

/**
 * panels
 */
.panel {
    border-radius: 2px;
}

.panel-has-form .panel-heading {
    padding: 8px 15px;
}

.panel-has-form .panel-title {
    margin-top: 5px;
}

/**
 * modals
 */
.modal-content {
    border-radius: 2px;
    width: 480px !important;
}

.modal-header {
    padding: 10px 15px;
}

/**
 * popovers
 */
.popover {
    padding: 0;
    border-radius: 2px;
}

.popover-title {
    padding: 10px 15px;
    border-radius: 2px 2px 0 0;
}

/**
 * tables
 */
.table-th-bordered {
    border: 1px solid #ddd
}
.table-th-bordered th {
    text-align: center;
    border-bottom: 1px solid #ddd!important;
}
.table-th-bordered td {
    text-align: center;
}

.input-lg {
    height: 40px;
    font-size:14px;
}

.error-container label {
    margin: 5px 0 0;
}
.relative {
    position: relative;
}
.to-label {
    position: absolute;
    right: -6px;
    top: 5px;
}
.main { min-height: 500px; }

/*short css class for common styles*/
.m-bottom10{ margin-bottom:10px; }
.m-top10{ margin-top:10px; }
.m-left10{ margin-left:10px; }
.m-right10{ margin-right:10px; }

.m-bottom20{ margin-bottom:20px; }
.m-top20{ margin-top:20px; }
.m-left20{ margin-left:20px; }
.m-right20{ margin-right:20px; }

.m-bottom30{ margin-bottom:20px; }
.m-top40{ margin-top:20px; }
.m-left20{ margin-left:20px; }
.m-right20{ margin-right:20px; }

.text-right { text-align: right; }
.text-left { text-align: left; }
.border-0{ border:none; }
.color-main {
    color: #45b865!important;
}
.color-weak {
    color: #999!important;
}
.color-text {
    color: #666!important;
}
.inline-block {
    display:inline-block;
}
.table {
    color: #333;
    font-size: 12px;
}
.table td {
    color: #666;
    font-size: 12px;
}

/*hack */
.form-horizontal .control-label {
    white-space:nowrap;
}
