<script id="J-account-sum-tpl" type="text/x-handlebars-template">
<ul class="list-group cf">
  <li class="list-group-item pull-left col-md-offset-1">当前余额:\{{sum}}</li>
  \{{#each accounts}}
  <li class="list-group-item pull-left">\{{@key}}<span>\{{this}}</span></li>
  \{{/each}}
</ul>
</script>
