<ul id="J-history-table" class="nav nav-tabs m-bottom20" role="tablist">
    <li class="active"><a href="#history-all" role="tab" class="J-toggle-tab" data-toggle="tab">全部</a></li>
    <li><a href="#history-income" role="tab" class="J-toggle-tab" data-type="category" data-toggle="tab">收入</a></li>
    <li><a href="#history-expense" role="tab" class="J-toggle-tab" data-type="category" data-toggle="tab">支出</a></li>
    <li><a href="#history-borrowing" role="tab" class="J-toggle-tab" data-type="category" data-toggle="tab">借贷</a></li>
    <li><a href="#history-transfer" role="tab" class="J-toggle-tab" data-type="category" data-toggle="tab">户内转账</a></li>
    <li><a href="#history-injection" role="tab" class="J-toggle-tab" data-type="category" data-toggle="tab">账户注资</a></li>
</ul>
<div class="tab-content J-transactions-history-wp">
    <div class="tab-pane active" id="history-all"></div>
    <div class="tab-pane" id="history-income"></div>
    <div class="tab-pane" id="history-expense"></div>
    <div class="tab-pane" id="history-borrowing"></div>
    <div class="tab-pane" id="history-transfer"></div>
    <div class="tab-pane" id="history-injection"></div>
</div>
