<ul class="nav nav-pills" role="tablist">
    <li{{#is request.path "===" "/transactions/add"}} class="active"{{/is}} ><a href="/transactions/add">记账</a></li>
    <li{{#is request.path "===" "/transactions/history"}} class="active"{{/is}} ><a href="/transactions/history">历史记录</a></li>
</ul>
<br/>
