<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-3 text-center">
                <a class="footer-link" href="/pages/about">关于朱墨</a>
            </div>
            <div class="col-md-2 text-center">
                <a class="footer-link" href="/pages/contact">联系我们</a>
            </div>
            <div class="col-md-2 text-center">
                <a class="footer-link" href="/agreements/service">用户协议</a>
            </div>
        </div>
        <div class="row">
            <div class="cm-md-6 text-center">
                <p>&copy;2014朱墨记账 zhumo.cc 京ICP证070791号 京公网安备1101502025545号</p>
            </div>
        </div>
    </div>
</div>

