{{#if @root.messages.error}}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span>
        </button>
        {{@root.messages.error}}
    </div>
{{/if}}

{{#if @root.messages.info}}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span>
        </button>
        {{@root.messages.info}}
    </div>
{{/if}}

{{#if @root.messages.warning}}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span>
        </button>
        {{@root.messages.warning}}
    </div>
{{/if}}

{{#if @root.messages.success}}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">关闭</span>
        </button>
        {{@root.messages.success}}
    </div>
{{/if}}
