<ul class="pagination hidden J-pagination-wp" data-rowcount="\{{rowcount}}">
    <li class="disabled J-pagination-pre"><a href="javascript:;">&laquo;</a></li>
    \{{#each pagination}}
    <li data-index=\{{@index}}><a href="javascript:;">\{{this}}</a></li>
    \{{/each}}
    <li class="disabled J-pagination-next"><a href="javascript:;">&raquo;</a></li>
</ul>
