{{!< index}}

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">请设置登陆密码</h3>
                </div>
                <div class="panel-body">
                    <form id="j-setpassword-form" class="form-horizontal" action="/users/setpassword" role="form" method="post" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">登陆邮箱</label>
                            <div class="col-sm-6">
                                <p class="form-control-static">{{secret.email}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">登陆密码</label>
                            <div class="col-sm-6">
                                <input id="j-password" name="password" type="password" class="form-control" placeholder="请输入登陆密码" required minlength="6" data-msg-required="请输入登录密码" data-msg-minlength="密码至少6位" data-clear-btn='true'>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-6">
                                <input id="j-verify-password" name="verifyPassword" type="password" class="form-control" placeholder="请确认登陆密码" required minlength="6" equalTo="#j-password" data-msg-required="请确认登录密码" data-msg-minlength="密码至少6位" data-msg-equalto="两次输入密码不相同" data-clear-btn='true'>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>

                        {{#if messages.error}}
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <p class="text-danger">{{messages.error}}</p>
                            </div>
                        </div>
                        {{/if}}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">&nbsp;</label>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit">设置密码</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
