{{!< index}}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="text-right text-success">
                                <h3 class="fa fa-3x fa-check"></h3>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <h3>账户激活成功</h3>
                            <p>赶紧开始愉快的记账之旅吧！</p>
                            <p style="width: 200px;"><a class="btn btn-lg btn-block btn-primary" href="/api/companies/select/{{secret.company}}">开始记账</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
