<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">收支一览</h3>
    </div>
    <div class="panel-body J-bar-wrapper">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#inout-bar-halfyear" class="J-toggle-tab" role="tab" data-toggle="tab">最近半年</a></li>
            <li><a href="#inout-bar-month" class="J-toggle-tab" role="tab" data-toggle="tab">本月</a></li>
        </ul>
        <div class="tab-content J-inout-bar-wp">
            <div class="tab-pane row active" id="inout-bar-halfyear">
                <div class="graph-area inout-data-container inout-halfyear-show col-md-10 hidden"></div>
            </div>
            <div class="tab-pane row" id="inout-bar-month">
                <div class="graph-area inout-data-container inout-month-show col-md-10 hidden"></div>
            </div>
        </div>
    </div>
</div>
