            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">收支表</h3>
                    </div>
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs J-inout-table" role="tablist">
                            <li class="active"><a class="J-toggle-tab" href="#inout-week" role="tab" data-toggle="tab">本周</a></li>
                            <li><a href="#inout-month" class="J-toggle-tab" role="tab" data-toggle="tab">本月</a></li>
                            <li><a href="#inout-quarter" class="J-toggle-tab" role="tab" data-toggle="tab">本季度</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="inout-week">...</div>
                            <div class="tab-pane" id="inout-month">...</div>
                            <div class="tab-pane" id="inout-quarter">...</div>
                        </div>
                    </div>
                </div>
            </div>
