<div class="form-group cf J-date-setting-wp hidden date-setting-wp">
    <div class="pull-left J-date-picker">
        <input type="text" class="form-control" name="startDate" value="">
    </div>
    <label class="pull-left m-left10 m-right10">至</label>
    <div class="pull-left J-date-picker">
        <input type="text" class="form-control" name="endDate" value="">
    </div>
    <button type="button" class="btn btn-primary m-left10 J-search-data-btn">查询</button>
</div>
