{{!< index}}

<div class="container" data-nopagejs="1">
    <div class="row">
        <div class="col-md-12">
            <h2>关于我们</h2>
            <p>朱墨记账是一款专注于小微企业、创业团队、众筹团体的在线记账工具。</p>
            <p>我们的理想是让他们的记账过程变得更简单、更好管理，完全告别Excel、账本等原始的记账方式。</p>
            <p>我们的使命就是服务好万千小微企业，为他们解决记账、管账的难题，让创业之路走的更加平坦！</p>
        </div>
    </div>
</div>

