{{!< index}}

<div class="container" data-nopagejs="1">
    <div class="row">
        <div class="col-md-12">
            <h2>联系我们</h2>

            <p>联系邮箱：contact@zhumo.cc</p>
            <p>公司地址：北京市朝阳区北苑路大屯220号浩运园2号楼0812</p>
            <div>
                <img width="50%" src="/img/contact-map.jpg"/>
            </div>
            <div class="m-top20">
                <h5>微信公众号：朱墨记账</h5>
                <img width="140" height="140" src="/img/contact-wx.png"/>
            </div>
        </div>
    </div>
</div>

