{{!< index}}

<div class="container">
    <div class="section-top">
        <div class="slogan col-lg-8 col-md-7 col-sm-6 col-xs-12">
            <div class="inline-block">
                <h2>一切从记账开始</h2>
                <h3>专注服务小微企业</h3>
                <h3>打造最佳记账工具</h3>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
            {{> users/signin}}
        </div>
    </div>
</div>

<div id="product-section" class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="img/index-content-1.png">
            </div>
            <div class="col-md-6 col-sm-12 pull-left">
                <h2>颠覆传统记账，用户至上</h2>
                <p>专注于小微企业，永久免费开放，打造完美的用户体验,对Excel记账彻底说再见。</p>
            </div>
        </div>
    </div>
    <div class="row-partition">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 pull-right text-center col-xs-12">
                    <img src="img/index-content-2.png">
                </div>
                <div class="col-md-6 col-sm-12 pull-left">
                    <h2>记录进出账款，简单快捷</h2>
                    <p>随时随地记录收支情况，轻松完成记账仅需三步。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center col-xs-12">
                <img src="img/index-content-3.png">
            </div>
            <div class="col-md-6 col-sm-12 pull-left">
                <h2>多账号共协作，实时掌控</h2>
                <p>一个主账户可设定多个不同权限的子账户，老板、合伙人、同事一起管账，随时随地同步操作。</p>
            </div>
        </div>
    </div>
    <div class="row-partition">
        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-sm-12 pull-right text-center col-xs-12">
                    <img src="img/index-content-4.png">
                </div>
                <div class="col-md-6 col-sm-12 pull-left">
                    <h2>独创加密算法，保障安全</h2>
                    <p>上传、处理、导出数据环节采用独特的加密算法形成安全防护网，并签署用户信息保密协议。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center col-xs-12">
                <img src="img/index-content-5.png">
            </div>
            <div class="col-md-6 col-sm-12 pull-left">
                <h2>导出重要报表，省时省心</h2>
                <p>迅速导出各种格式报表，从此汇报、分享都能得心应手。</p>
            </div>
        </div>
    </div>
</div>
