<script type="text/template" id="j-account-template">
    <div class="popover popover-zhumo popover-account">
        <div class="arrow"></div>
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
    </div>
</script>

<script type="text/template" id="j-account-content">
    <ul class="popover-menu">
        <li><a class="main-anchor" href="/users/changepassword"><span class="fa fa-lock"></span> 修改密码</a></li>
        <li><a class="main-anchor" href="/users/signout"><span class="fa fa-power-off"></span> 安全退出</a></li>
    </ul>
</script>
