<script type="text/template" id="j-company-balance-template">
    <div class="popover popover-zhumo popover-balance">
        <div class="arrow"></div>
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
    </div>
</script>

<script type="text/template" id="j-company-balance-content">
    <div>
        <div class="header-account-info">
            <h5>余额详情</h5>
            <div class="account J-all-amount"><span class="t-label">总余额</span><em></em></div>
            <div class="account J-bank-amount"><span class="t-label">银行账户</span><em></em></div>
            <div class="account J-cash-amount"><span class="t-label">现金账户</span><em></em></div>
            <div class="account J-net-amount"><span class="t-label">网络账户</span><em></em></div>
        </div>
        <ul class="popover-menu">
            <li><a class="main-anchor" href="/transactions/add?category=zhuzi">账户注资</a></li>
            <li><a class="main-anchor" href="/transactions/add?category=transfer">户内转账</a></li>
        </ul>
    </div>
</script>
