{{!< index}}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>朱墨记账服务条款</h2>
            <h3>总则</h3>
            <p>欢迎使用北京朱墨科技有限公司为您提供的各项服务 . 以下所述条款和条件即构成您与本公司就使用服务所达成的协议 , 一旦您访问和使用朱墨记账 , 即表示您已接受了以下所述的条款和条件 .
            本公司有权随时修改下述条款和条件 ,并只需公示于朱墨记账网 ,而无需征得您的事先同意 .修改后的条款于公示时即时生效 .在本公司修改服务条款后 ,您继续使用服务应被视作您已接受了修改后的条款 .</p>
            <div class="agreement-section">
                <h4>一. 注册义务</h4>
                <p>您必须按照申请注册会员的表格 , 真实 , 准确 , 完整的填写您的资料 ; 维持并及时更新资料 , 使其保持真实 , 准确 , 完整和反应当前情况 . 倘若您提供的资料不真实 , 准确和完整或我公司有合理理由怀疑该资料不真实 , 准确, 完整的 , 我公司有权暂停或终止您的注册身份 , 并拒绝您在目前和将来对服务以任何形式使用 .</p>
            </div>
            <div class="agreement-section">
                <h4>二. 注册名和密码</h4>
                <p>在登记过程中，您将选择会员注册名和密码。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动承担责任。您同意： (a) 如发现任何人未经授权使用您的会员注册名或密码，或发生违反保密规定的任何其他情况，您会立即通知朱墨记账；及 (b) 确保您在每个上网时段结束时，以正确步骤离开网站。朱墨记账不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。</p>
            </div>
            <div class="agreement-section">
                <h4>三. 您的权利和义务</h4>
                <p>您有权根据本协议及朱墨记账网上公告的相关规则进行记账操作 , 参与活动等其他无特殊限制的服务 ;</p>
                <p>您应当保证在使用朱墨记账网各项服务中遵守法律法规 , 尊重社会公德 , 遵守诚实信用原则 , 不扰乱网络秩序 ;</p>
                <p>您在论坛发表的言论应当真实 , 不得侮辱 , 诽谤和恶意中伤他人 ;</p>
                <p>您在论坛发布的信息不得侵犯他人的知识产权或其他合法利益 ;</p>
                <p>您同意不对朱墨记账网上的信息做商业用途 , 包括但不限于以复制 , 传播等方式使用展示在朱墨记账网上的任何资料 ;</p>
                <p>您同意接收来自朱墨记账网或朱墨记账合作伙伴发出的邮件或信息 .</p>
            </div>
            <div class="agreement-section">
                <h4>四. 我公司的权利和义务</h4>
                <p>我公司有义务在现有技术上维护整个平台的正常运行 , 并努力提升和改进技术 ;</p>
                <p>因网上平台的特殊性, 本公司没有义务对所有会员的注册资料 , 行为及其他事项进行事先审查 ;</p>
                <p>会员因在朱墨记账网上的行为与他人产生诉讼的 , 司法部门或行政部门按照法定程序要求本公司提供相关资料的 , 本公司应积极配合并提供 ;</p>
                <p>对于您在朱墨记账网上的不当行为或任何我公司认为应当终止服务的情况 , 我公司有权删除信息或终止服务 , 且无须征得您的同意 ;</p>
                <p>我公司有权对您的注册资料及在朱墨记账网上的行为进行查阅 , 发现注册资料存在问题或有合理理由怀疑相关行为不当的 , 有权向您发出询问及要求修正 ;我公司转让本协议无需征得您的同意 ;</p>
                <p>在您使用朱墨记账网服务时 , 朱墨记账网有权接收并记录您的个人信息 , 包括但不限于 IP地址 , 网站 Cookie中的资料及您所使用朱墨记账手机客户端版本记录等 .</p>
            </div>
            <div class="agreement-section">
                <h4>五. 您授予本公司的许可使用权</h4>
                <p>您授予本公司永久的, 免费的 , 完整的许可使用权利 (并且有权对该权利进行再授权 ), 使我公司有权在不涉及和泄露用户隐私情况下使用您的数据参与制作其派生产品 , 例如但不限于市场调研 , 消费分析等 , 以已知或日后开发的任何形式 , 媒体或技术 , 纳入其他作品里 .</p>
            </div>
            <div class="agreement-section">
                <h4>六、隐私权</h4>
                <p>尽管有第五条所规定的许可使用权，朱墨记账将仅根据本公司的隐私声明使用“您的资料”。本公司隐私声明的全部条款属于本协议的一部份，因此，您必须仔细阅读。请注意，您一旦自愿地在朱墨记账披露“您的资料”，该等资料即可能被其他人士获取和使用。</p>
            </div>
            <div class="agreement-section">
                <h4>七. 免责声明</h4>
                <p>您将对您发布的信息及其他在朱墨记账网上发生的任何行为承担责任 , 我公司对此不负任何责任</p>
            </div>
            <div class="agreement-section">
                <h4>八. 管辖</h4>
                <p>因本协议或本公司服务所引起的或与其有关的任何争议 , 应向北京市朝阳城区人民法院提起诉讼并适用中华人民共和国法律 .</p>
            </div>

        </div>
    </div>
</div>

