<ul class="nav nav-pills">
    <li{{#is request.path "===" "/settings/categories"}} class="active"{{/is}} ><a href="/settings/categories">项目类型</a></li>
    <li{{#is request.path "===" "/settings/accounts"}} class="active"{{/is}} ><a href="/settings/accounts">账户类型</a></li>
    <li{{#is request.path "===" "/settings/profile"}} class="active"{{/is}} ><a href="/settings/profile">公司资料</a></li>
    <li{{#is request.path "===" "/settings/members"}} class="active"{{/is}} ><a href="/settings/members">子账户</a></li>
</ul>

