{{!< ucenter}}

{{#append "header"}}
    <p class="page-title">所有报表&nbsp;&nbsp;<small class="text-muted">可导成Excel格式</small></p>
{{/append}}

<div class="row">
    <a href="/reports/profits" class="index-area panel-body">
        <span class="title">利润表</span>
        <span class="desc">此表主要可以查看某一时间段内收入、支出、利润的详细情况。</span>
    </a>
    <a href="/reports/transactions" class="index-area panel-body">
        <span class="title">交易流水表</span>
        <span class="desc">此表主要可以查看某段时间内各项收支的明细，包括项目类型、金额、记账时间、记账人。</span>
    </a>
    <a href="/reports/assets" class="index-area panel-body">
        <span class="title">资产负债表</span>
        <span class="desc">此表主要可以查看资产、现金、负债、股东投入等情况。</span>
    </a>
</div>

