{{#append "header"}}
    <p class="page-title">交易流水表</p>
{{/append}}

{{> reports/filter}}
{{> reports/reporttable}}
<script id="J-record-pagination-tpl" type="text/x-handlebars-template">
{{> pagination}}
</script>

